.carousel-container {
  display: flex;
  overflow-x: scroll;
}

.carousel-item {
  flex: none;
  width: 70%;
  margin: 0 1%;
  opacity: 0.4;
  transition: opacity 0.3s;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}
